<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="/">FH</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li> --}}
      </ul>

      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item mx-2">
         <a href="/announcements/add" class="primary-btn"><i class="fa fa-plus"></i> Create announcement</a>
        </li>
        
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Announcements
          </button>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/announcements">All FA</a>
            <a class="dropdown-item" href="/announcementsUser">My FA</a>
            <a class="dropdown-item" href="/users/logout">Logout</a>
          </div>
        </div> 
        <div class="header__menu__right">

        <a href="/users/profile" class="login-btn mx-2"><i class="fa fa-user"></i></a>
        </div>
        {{else}}
        <li class="nav-item">
          <a href="/users/signin" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/users/signup" class="nav-link">Register</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>