<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ForestHuB</title>
	 <%- include ('./partials/head') %>
</head>
<body>
	<div class="container ">
		<div class="card text-center mt-5"> 
			<div class="card-body">
				<h1><span class="fa fa-lock"> </span>Regístrate o Inicia sesión</h1>
				<a href="/api/login" class="btn btn-light ">
					<span class="fa fa-user"></span>Inicia sesión local
				</a>
				<a href="/api/signup" class="btn btn-light">
					<span class="fa fa-user"></span>Regístrate localmente
				</a>
			</div>
		</div>
	</div>
</body>
</html>